.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skillsContainer {
  border: 1px solid black;
  padding: 10px;
}

.customHr {
  border: none;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsTop {
  margin-bottom: 10px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectsWrapper {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectSwiperContainer {
  height: 50%;
  width: 50%;
  border: 1px solid black;
  border-radius: 12px;
}

.projectSwiper {
  height: 100%;
}

.projectWrapper {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projectImg {
  border-radius: 12px;
}

.projectContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
