.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
