.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 400px;
}

.mainTitle {
  font-size: 40px;
  color: #6467c0;
}

.mainName {
  font-size: 50px;
  color: #7e81cb;
}

.mainDescription {
  font-size: 20px;
  color: #9799d2;
}

.aboutContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 400px;
  gap: 50px;
}

.aboutContainer h1 {
  font-size: 30px;
  color: #6467c0;
}

.aboutContainer h2 {
  color: #6467c0;
}

.aboutContainer p {
  color: #6467c0;
}

.skills {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skillsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsContainer {
  border: 1px solid black;
  padding: 10px;
  border-radius: 12px;
}

.skillsWrapper {
  display: flex;
  gap: 15px;
}

.customHr {
  border: none;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsTop {
  margin-bottom: 10px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectsWrapper {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectSwiperContainer {
  height: 50%;
  width: 50%;
  border: 1px solid black;
  border-radius: 12px;
}

.projectSwiper {
  height: 100%;
}

.projectWrapper {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projectImg {
  border-radius: 12px;
}

.projectContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactContainer > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
